In [ ]:
# 데이터 크롤링

# 파이썬으로 HTML을 다루는 모듈
# 페이지를 요청하는 모듈
# 엑셀화 모듈
# 시간 모듈

from bs4 import BeautifulSoup # Python으로 HTML을 다루는 기능능
import requests # 페이지 요청
import pandas as pd
import time

In [ ]:
# 200 : 정상, 400번대 : 존재하지않는페이지, 500번대 : 거절
url = requests.get("https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EB%A1%9C%EB%98%90")
html = BeautifulSoup(url.text)

current = int(html.find("span", class_ = 'f_red').text.replace("회", ""))

number = html.find("div", class_ = 'lottonum').find_all("span")

del number[-2]
del number[-2]

box = []
for i in number:
    box.append(int(i.text))
box

[6, 12, 17, 21, 32, 39, 30]

In [ ]:
total = []

for n in range(1, 11):
    url = requests.get(f"https://search.daum.net/search?w=tot&DA=LOT&rtmaxcoll=LOT&&q={n}%ED%9A%8C%EC%B0%A8%20%EB%A1%9C%EB%98%90")
    html = BeautifulSoup(url.text)

    number = html.find("div", class_ = 'lottonum').find_all("span")

    del number[-2]
    del number[-2]

    box = []
    for i in number:
        box.append(int(i.text))
    
    total.append(box)
    print(f"{n}회 로또 데이터 저장완료... {box}")
    time.sleep(1)

1회 로또 데이터 저장완료... [10, 23, 29, 33, 37, 40, 16]
2회 로또 데이터 저장완료... [9, 13, 21, 25, 32, 42, 2]
3회 로또 데이터 저장완료... [11, 16, 19, 21, 27, 31, 30]
4회 로또 데이터 저장완료... [14, 27, 30, 31, 40, 42, 2]
5회 로또 데이터 저장완료... [16, 24, 29, 40, 41, 42, 3]
6회 로또 데이터 저장완료... [14, 15, 26, 27, 40, 42, 34]
7회 로또 데이터 저장완료... [2, 9, 16, 25, 26, 40, 42]
8회 로또 데이터 저장완료... [8, 19, 25, 34, 37, 39, 9]
9회 로또 데이터 저장완료... [2, 4, 16, 17, 36, 39, 14]
10회 로또 데이터 저장완료... [9, 25, 30, 33, 41, 44, 6]

In [ ]:
total

[[10, 23, 29, 33, 37, 40, 16],
 [9, 13, 21, 25, 32, 42, 2],
 [11, 16, 19, 21, 27, 31, 30],
 [14, 27, 30, 31, 40, 42, 2],
 [16, 24, 29, 40, 41, 42, 3],
 [14, 15, 26, 27, 40, 42, 34],
 [2, 9, 16, 25, 26, 40, 42],
 [8, 19, 25, 34, 37, 39, 9],
 [2, 4, 16, 17, 36, 39, 14],
 [9, 25, 30, 33, 41, 44, 6]]

In [ ]:
df = pd.DataFrame(total, 
                  columns = ['1번째','2번째','3번째','4번째','5번째','6번째','보너스'])
df.to_excel("lotto.xlsx")
df

   1번째  2번째  3번째  4번째  5번째  6번째  보너스
0   10   23   29   33   37   40   16
1    9   13   21   25   32   42    2
2   11   16   19   21   27   31   30
3   14   27   30   31   40   42    2
4   16   24   29   40   41   42    3
5   14   15   26   27   40   42   34
6    2    9   16   25   26   40   42
7    8   19   25   34   37   39    9
8    2    4   16   17   36   39   14
9    9   25   30   33   41   44    6

In [ ]:
# 연금복권 데이터 크롤링하기(1초씩 쉬기기)

url = requests.get("https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C")
html = BeautifulSoup(url.text)

current = int(html.find("span", class_ = 'f_red').text[1:-1])

number = html.find("tr", class_ = 'fst').text.split()[5:]
number[0] = number[0].replace("조", "")
number = list(map(int, number)) # number안에 모든 요소에 int함수를 적용해라라
number

[1, 2, 0, 1, 6, 8, 8]

In [ ]:
total = []
for n in range(1, current + 1):
    url = requests.get(f"https://search.daum.net/search?w=tot&DA=JIM&rtmaxcoll=JIM&&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C%20720%2B%20{n}%ED%9A%8C%EC%B0%A8")
    html = BeautifulSoup(url.text)
    number = html.find("tr", class_ = 'fst').text.split()[5:]
    number[0] = number[0].replace("조", "")
    number = list(map(int, number))
    total.append(number)
    time.sleep(1)
    print(f"{n}회 연금복권 : {number}")

1회 연금복권 : [4, 1, 6, 2, 1, 3, 2]
2회 연금복권 : [2, 4, 5, 0, 5, 5, 8]
3회 연금복권 : [4, 5, 4, 4, 9, 5, 5]
4회 연금복권 : [4, 1, 2, 4, 4, 2, 0]
5회 연금복권 : [4, 7, 5, 4, 6, 5, 5]
6회 연금복권 : [5, 1, 9, 3, 2, 0, 2]
7회 연금복권 : [2, 5, 9, 7, 0, 9, 3]
8회 연금복권 : [4, 2, 3, 4, 0, 5, 8]
9회 연금복권 : [3, 1, 3, 3, 5, 1, 0]
10회 연금복권 : [2, 7, 7, 0, 1, 7, 3]
11회 연금복권 : [1, 8, 6, 7, 6, 5, 4]
12회 연금복권 : [5, 0, 7, 6, 6, 7, 6]
13회 연금복권 : [1, 6, 6, 9, 2, 4, 5]
14회 연금복권 : [3, 4, 3, 2, 4, 9, 6]
15회 연금복권 : [4, 4, 7, 7, 2, 3, 8]
16회 연금복권 : [4, 6, 6, 4, 0, 5, 6]
17회 연금복권 : [3, 3, 1, 7, 2, 2, 7]
18회 연금복권 : [1, 5, 6, 2, 2, 2, 2]
19회 연금복권 : [5, 8, 5, 9, 2, 1, 9]
20회 연금복권 : [1, 8, 1, 9, 6, 0, 5]
21회 연금복권 : [1, 2, 3, 9, 9, 3, 7]
22회 연금복권 : [1, 9, 1, 3, 6, 2, 2]
23회 연금복권 : [4, 1, 5, 8, 0, 7, 1]
24회 연금복권 : [2, 0, 0, 2, 9, 8, 9]
25회 연금복권 : [3, 4, 6, 3, 6, 3, 7]
26회 연금복권 : [3, 1, 9, 2, 8, 5, 6]
27회 연금복권 : [5, 4, 1, 2, 0, 0, 8]
28회 연금복권 : [5, 0, 8, 0, 8, 3, 9]
29회 연금복권 : [4, 3, 5, 5, 1, 9, 2]
30회 연금복권 : [3, 4, 8, 7, 2, 1, 5]
31회 연금복권 : [1, 7, 7, 1, 5, 9, 8]
32회 연금복권 : [1, 5, 7, 9, 1, 7, 6]
33회 연금복권 : [4, 5, 9, 6, 2, 1, 9]
34회 연금복권 : [4, 9, 7, 7, 6, 8, 6]
35회 연금복권 : [1, 5, 4, 2, 4, 5, 4]
36회 연금복권 : [4, 7, 3, 5, 7, 5, 7]
37회 연금복권 : [3, 4, 5, 3, 8, 7, 7]
38회 연금복권 : [3, 3, 0, 7, 8, 3, 6]
39회 연금복권 : [1, 1, 9, 9, 1, 3, 7]
40회 연금복권 : [2, 6, 3, 1, 0, 8, 6]
41회 연금복권 : [1, 7, 4, 2, 7, 1, 4]
42회 연금복권 : [4, 9, 7, 4, 2, 3, 1]
43회 연금복권 : [4, 5, 8, 9, 8, 3, 9]
44회 연금복권 : [3, 6, 6, 8, 8, 1, 8]
45회 연금복권 : [2, 3, 1, 8, 7, 5, 4]
46회 연금복권 : [4, 0, 1, 0, 9, 6, 3]
47회 연금복권 : [4, 9, 4, 1, 3, 2, 7]
48회 연금복권 : [1, 7, 7, 9, 3, 6, 3]
49회 연금복권 : [4, 3, 0, 5, 2, 4, 8]
50회 연금복권 : [3, 5, 9, 2, 1, 1, 1]
51회 연금복권 : [2, 5, 1, 0, 0, 1, 2]
52회 연금복권 : [2, 5, 9, 7, 2, 2, 7]
53회 연금복권 : [5, 6, 4, 9, 6, 3, 8]
54회 연금복권 : [5, 6, 2, 7, 0, 5, 4]
55회 연금복권 : [1, 4, 7, 7, 8, 7, 9]
56회 연금복권 : [1, 9, 9, 3, 1, 7, 4]
57회 연금복권 : [2, 2, 7, 2, 2, 8, 6]
58회 연금복권 : [5, 9, 3, 9, 3, 2, 7]
59회 연금복권 : [2, 1, 5, 9, 0, 5, 6]
60회 연금복권 : [5, 2, 1, 6, 5, 1, 0]
61회 연금복권 : [3, 5, 7, 5, 8, 6, 2]
62회 연금복권 : [4, 0, 1, 4, 0, 7, 3]
63회 연금복권 : [4, 3, 3, 5, 2, 2, 6]
64회 연금복권 : [5, 6, 7, 6, 0, 0, 3]
65회 연금복권 : [4, 7, 3, 2, 3, 7, 5]
66회 연금복권 : [4, 9, 9, 0, 8, 3, 4]
67회 연금복권 : [3, 8, 0, 7, 5, 3, 1]
68회 연금복권 : [5, 1, 9, 1, 0, 7, 5]
69회 연금복권 : [4, 7, 7, 5, 5, 3, 0]
70회 연금복권 : [1, 2, 4, 8, 6, 7, 2]
71회 연금복권 : [1, 1, 5, 9, 4, 8, 6]
72회 연금복권 : [2, 1, 1, 4, 6, 8, 7]
73회 연금복권 : [1, 5, 0, 1, 0, 2, 6]
74회 연금복권 : [2, 2, 5, 6, 7, 8, 9]
75회 연금복권 : [3, 6, 5, 8, 3, 4, 0]
76회 연금복권 : [1, 8, 9, 0, 9, 6, 6]
77회 연금복권 : [5, 4, 3, 6, 3, 0, 5]
78회 연금복권 : [2, 5, 1, 5, 8, 8, 4]
79회 연금복권 : [5, 4, 0, 8, 3, 7, 9]
80회 연금복권 : [1, 6, 4, 1, 3, 5, 8]
81회 연금복권 : [1, 9, 7, 1, 5, 1, 1]
82회 연금복권 : [4, 9, 3, 5, 0, 5, 3]
83회 연금복권 : [3, 1, 3, 6, 1, 2, 8]
84회 연금복권 : [4, 5, 8, 0, 1, 4, 8]
85회 연금복권 : [5, 3, 3, 8, 4, 0, 7]
86회 연금복권 : [5, 9, 5, 0, 3, 2, 0]
87회 연금복권 : [4, 7, 4, 0, 9, 4, 2]
88회 연금복권 : [2, 3, 2, 9, 6, 9, 5]
89회 연금복권 : [4, 5, 8, 5, 4, 4, 9]
90회 연금복권 : [5, 2, 3, 5, 8, 5, 8]
91회 연금복권 : [3, 5, 8, 6, 0, 5, 4]
92회 연금복권 : [4, 4, 8, 7, 3, 8, 1]
93회 연금복권 : [4, 1, 8, 0, 2, 4, 9]
94회 연금복권 : [1, 8, 0, 7, 1, 2, 1]
95회 연금복권 : [5, 8, 4, 1, 3, 3, 1]
96회 연금복권 : [2, 3, 3, 0, 4, 8, 1]
97회 연금복권 : [1, 7, 8, 3, 6, 8, 8]
98회 연금복권 : [4, 7, 0, 7, 4, 3, 7]
99회 연금복권 : [3, 2, 0, 2, 9, 9, 7]
100회 연금복권 : [4, 4, 1, 9, 3, 9, 9]
101회 연금복권 : [4, 0, 6, 8, 5, 6, 1]
102회 연금복권 : [3, 0, 3, 0, 5, 6, 9]
103회 연금복권 : [4, 7, 8, 6, 2, 7, 6]
104회 연금복권 : [2, 6, 8, 9, 9, 2, 2]
105회 연금복권 : [1, 1, 8, 0, 5, 0, 6]
106회 연금복권 : [5, 3, 0, 7, 6, 9, 5]
107회 연금복권 : [3, 1, 9, 2, 7, 5, 0]
108회 연금복권 : [3, 6, 0, 5, 1, 9, 5]
109회 연금복권 : [3, 1, 6, 4, 1, 1, 5]
110회 연금복권 : [5, 5, 4, 2, 9, 8, 0]
111회 연금복권 : [1, 3, 9, 3, 5, 8, 8]
112회 연금복권 : [3, 8, 0, 2, 0, 0, 7]
113회 연금복권 : [3, 2, 4, 8, 8, 5, 5]
114회 연금복권 : [2, 6, 9, 9, 2, 8, 6]
115회 연금복권 : [2, 7, 4, 9, 0, 6, 3]
116회 연금복권 : [2, 6, 4, 1, 7, 7, 0]
117회 연금복권 : [4, 2, 6, 9, 1, 1, 7]
118회 연금복권 : [1, 9, 2, 9, 9, 7, 7]
119회 연금복권 : [4, 0, 8, 8, 2, 5, 7]
120회 연금복권 : [2, 2, 1, 8, 5, 5, 6]
121회 연금복권 : [5, 4, 4, 4, 5, 2, 0]
122회 연금복권 : [1, 0, 1, 6, 8, 4, 1]
123회 연금복권 : [3, 9, 3, 8, 4, 2, 3]
124회 연금복권 : [5, 3, 1, 1, 2, 4, 4]
125회 연금복권 : [5, 8, 4, 5, 3, 9, 0]
126회 연금복권 : [5, 5, 5, 9, 8, 3, 0]
127회 연금복권 : [3, 9, 0, 5, 6, 5, 8]
128회 연금복권 : [3, 9, 2, 3, 8, 6, 4]
129회 연금복권 : [1, 6, 1, 9, 0, 0, 3]
130회 연금복권 : [3, 7, 3, 7, 7, 4, 7]
131회 연금복권 : [5, 8, 5, 2, 2, 6, 5]
132회 연금복권 : [1, 3, 3, 8, 8, 2, 2]
133회 연금복권 : [1, 1, 0, 7, 5, 2, 3]
134회 연금복권 : [1, 0, 4, 7, 0, 2, 2]
135회 연금복권 : [2, 4, 0, 0, 8, 7, 6]
136회 연금복권 : [5, 5, 8, 7, 4, 1, 1]
137회 연금복권 : [1, 8, 7, 3, 7, 8, 4]
138회 연금복권 : [1, 3, 9, 3, 0, 6, 6]
139회 연금복권 : [1, 2, 0, 1, 6, 8, 8]

In [ ]:
df = pd.DataFrame(total,
                  columns = ['조','1번째','2번째','3번째','4번째','5번째','6번째'])
df.to_excel("pension.xlsx")
df

     조  1번째  2번째  3번째  4번째  5번째  6번째
0    4    1    6    2    1    3    2
1    2    4    5    0    5    5    8
2    4    5    4    4    9    5    5
3    4    1    2    4    4    2    0
4    4    7    5    4    6    5    5
..  ..  ...  ...  ...  ...  ...  ...
134  2    4    0    0    8    7    6
135  5    5    8    7    4    1    1
136  1    8    7    3    7    8    4
137  1    3    9    3    0    6    6
138  1    2    0    1    6    8    8

[139 rows x 7 columns]

In [ ]:
from tqdm import tqdm # for문의 진행상황 확인인

url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=1")
html = BeautifulSoup(url.text)
kospi_page = int(html.find('td', class_ = 'pgRR').find('a')['href'][-2:])

total = []
for n in tqdm(range(1, kospi_page + 1)):
    url = requests.get(f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={n}")
    html = BeautifulSoup(url.text)
    table = html.find('table', class_ = 'type_2')
    table = pd.read_html(str(table))[0]
    table = table[table['종목명'].notnull()]
    del table['N']
    del table['토론실']
    total.append(table)
    time.sleep(1)
kospi = pd.concat(total, ignore_index=True)
kospi.to_excel("kospi.xlsx")

#--

url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page=1")
html = BeautifulSoup(url.text)
kosdaq_page = int(html.find('td', class_ = 'pgRR').find('a')['href'][-2:])

total = []
for n in tqdm(range(1, kosdaq_page + 1)):
    url = requests.get(f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page={n}")
    html = BeautifulSoup(url.text)
    table = html.find('table', class_ = 'type_2')
    table = pd.read_html(str(table))[0]
    table = table[table['종목명'].notnull()]
    del table['N']
    del table['토론실']
    total.append(table)
    time.sleep(0.1)
kosdaq = pd.concat(total, ignore_index=True)
kosdaq.to_excel("kosdaq.xlsx")

100%|██████████| 40/40 [01:18<00:00,  1.96s/it]
100%|██████████| 33/33 [01:04<00:00,  1.96s/it]

In [ ]:
kospi['소속'] = 'KOSPI'
kosdaq['소속'] = "KOSDAQ"

In [ ]:
stock = pd.concat([kospi, kosdaq], ignore_index = True)
stock.to_excel("stock.xlsx")
stock

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,소속
0,삼성전자,55800.0,300.0,+0.54%,100.0,3331139.0,5969783.0,49.67,10022224.0,9.05,13.92,KOSPI
1,LG에너지솔루션,442000.0,4000.0,-0.90%,500.0,1034280.0,234000.0,5.17,175765.0,180.11,10.68,KOSPI
2,삼성바이오로직스,807000.0,20000.0,-2.42%,2500.0,574374.0,71174.0,10.82,53086.0,109.56,8.21,KOSPI
3,SK하이닉스,75300.0,400.0,-0.53%,5000.0,548186.0,728002.0,49.75,1813255.0,5.91,16.84,KOSPI
4,LG화학,601000.0,3000.0,-0.50%,5000.0,424260.0,70592.0,48.16,83854.0,21.15,18.47,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...
3585,IBKS제17호스팩,2375.0,0.0,0.00%,100.0,65.0,2720.0,1.23,0.0,-65.97,NaN,KOSDAQ
3586,루트로닉3우C,28000.0,0.0,0.00%,500.0,56.0,202.0,0.24,0.0,16.58,NaN,KOSDAQ
3587,엠피씨플러스,822.0,0.0,0.00%,500.0,42.0,5119.0,0.10,0.0,6.47,10.90,KOSDAQ
3588,대호특수강우,9120.0,360.0,-3.80%,5000.0,39.0,424.0,1.07,6673.0,13.31,NaN,KOSDAQ
3589,소프트센우,19950.0,550.0,+2.84%,500.0,28.0,143.0,1.40,7.0,115.32,NaN,KOSDAQ

In [ ]:
dic = {"User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 13_1)"}

url = requests.get("https://finance.naver.com/item/sise_day.naver?code=005930", headers = dic)
html = BeautifulSoup(url.text)

table = html.find('table')
table = pd.read_html(str(table))[0]
table = table.dropna()
table

            날짜       종가     전일비       시가       고가       저가         거래량
1   2023.01.03  55900.0   400.0  55400.0  56000.0  54500.0  10894777.0
2   2023.01.02  55500.0   200.0  55500.0  56100.0  55200.0  10031448.0
3   2022.12.29  55300.0  1300.0  56000.0  56200.0  55300.0  11295935.0
4   2022.12.28  56600.0  1500.0  57600.0  57600.0  56400.0  14665410.0
5   2022.12.27  58100.0   200.0  58000.0  58400.0  57900.0  10667027.0
9   2022.12.26  57900.0   200.0  58000.0  58100.0  57700.0   6756411.0
10  2022.12.23  58100.0  1000.0  58200.0  58400.0  57700.0   9829407.0
11  2022.12.22  59100.0  1100.0  58100.0  59100.0  58100.0  10720630.0
12  2022.12.21  58000.0   600.0  58700.0  59100.0  58000.0  10356971.0
13  2022.12.20  58600.0   900.0  59000.0  59100.0  58500.0   9284761.0